<div class="header">
  <span class="event__header">
    <img
      alt="blackCircle"
      src="../../../assets/blackCircle.svg"
      height="38,4"
      width="38,4"
    />
    <span class="text-active__header">Мероприятие</span>
  </span>
  <span class="contact__header">
    <img
      src="../../../assets/greyCircle.svg"
      alt="greyCircle"
      height="38,4"
      width="38,4"
    />
    <!--      Позже будут меняться иконки greyCircle-->
    <span class="text-not-active__header">Контакты</span>
  </span>
  <span class="heading__step">Расскажите о мероприятии</span>
  <!--    Сделать логику изменения заголовка при нажатии на кнопку продолжить-->
</div>
