<div class="event-data__component">
  <span class="event-data__text">Примерная стоимость</span>
  <div class="price-event__text">{{ priceEvent }}₽</div>
  <div class="price-person__text">{{ priceOnePerson }}₽/Чел</div>
  <div class="info__component format-event__text">
    <span class="info__component__text">Формат: {{ formatEvent }}</span>
    <span class="text-data"></span>
  </div>
  <div class="info__component count-people-event__text">
    <span class="info__component__text"
      >Количество гостей: {{ countPerson }}</span
    ><span class="text-data"></span>
  </div>
  <div class="info__component date-event__text">
    <span class="info__component__text"
      >Дата: {{ dateEvent | date: "shortDate" }}</span
    ><span class="text-data"></span>
  </div>
</div>
