<div class="format-event__component">
  <span class="format-event__text">Выберите формат мероприятия:</span>
  <div class="format-event__group-button">
    <button
      class="format-event__button button-enable"
      style="margin-right: 13px"
    >
      <span class="format-event__button-text button-enable__text">Фуршет</span>
    </button>
    <button class="format-event__button button-disable">
      <span class="format-event__button-text button-disable__text"
        >Гастрономический ужин</span
      >
    </button>
    <button
      id="buttonBanquet"
      class="format-event__button button-enable"
      style="margin-left: 13px"
    >
      <span class="format-event__button-text button-enable__text">Банкет</span>
    </button>
    <!--    Добавить логику изменения цвета кнопок при нажатии-->
  </div>
</div>
