<div class="format-event__component" style="width: 400px; height: 450px">
  <div class="event-form__component" [formGroup]="eventForm">
    <div>
      <span class="format-event__text">Выберите формат мероприятия:</span>
      <ng-container *ngIf="events$ | async as events">
        <mat-chip-listbox [formControl]="eventForm.controls.event">
          <ng-container *ngFor="let event of events">
            <mat-chip-option value="{{ event.name }}">{{
              event.name
            }}</mat-chip-option>
          </ng-container>
        </mat-chip-listbox>
      </ng-container>
    </div>
    <div style="margin-top: 16px">
      <mat-label>
        Количество гостей: {{ eventForm.controls.countPeoples.value }}
      </mat-label>
      <mat-slider min="10" max="100" style="width: 620px">
        <input
          step="1"
          id="peopleRange"
          placeholder="Количество гостей:"
          class="count-people__input"
          [formControl]="eventForm.controls.countPeoples"
          matSliderThumb
        />
      </mat-slider>
      <span class="text-down__range">От 10 человек</span>
      <span class="text-down__range" style="margin-left: 470px"
        >До 100 человек</span
      >
    </div>
    <mat-form-field style="width: 624px; margin-top: 16px">
      <mat-label>Дата мероприятия:</mat-label>
      <input
        class="mat-accent"
        type="date"
        [formControl]="eventForm.controls.dateEvent"
        matInput
      />
      <mat-error *ngIf="eventForm.controls.dateEvent.hasError('required')"
        >Обязательное поле</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 624px; margin-top: 16px">
      <mat-label>Дополнительные услуги: </mat-label>
      <mat-select [formControl]="eventForm.controls.additionalService">
        <ng-container *ngIf="service$ | async as services">
          <mat-option *ngFor="let service of services" [value]="service.price">
            {{ service.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 624px; margin-top: 16px">
      <input
        class="page-form__input"
        type="text"
        placeholder="Напишите пожелания по меню"
        [formControl]="eventForm.controls.desiredMenu"
        matInput
      />
    </mat-form-field>
  </div>
</div>
