.format-event__component {
  width: 432px;
  height: 75.2px;
  margin-top: 44px;
  margin-bottom: 30px;
  position: relative;
}

.format-event__text {
  display: block;
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #222733;
  opacity: 0.8;
  margin-bottom: 16px;
}

.format-event__group-button {
  width: 432px;
  height: 38.4px;
  margin-top: 20px;
}

.format-event__button {
  margin-right: 14px;
  height: 38.4px;
  border-radius: 50px;
  padding: 11.2px 19.2px;
  border: none;
  background: rgba(84, 94, 118, 0.12);
}

.button-disable {
  background: rgba(84, 94, 118, 0.12);
}

.button-enable {
  background: #222733;
}

.button-enable__text {
  color: #fff;
}

.button-disable__text {
  color: #222733;
}

.format-event__button-text {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.event-form__component {
  position: relative;
  width: 624px;
  height: 339px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 70px;
}

.event-form__input {
  position: relative;
  border: 1px solid #545e76;
  border-radius: 12px;
  padding: 30px 32px;
  width: 780px;
  height: 80px;
}

.service__input {
  background: none;
  border: none;
}

.service-select {
  position: absolute;
  background: none;
  border: none;
}

.count-people__input {
  accent-color: #545e76;
  width: 624px;
}

.count-people__text-form {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 240;
  font-size: 16px;
  line-height: 100%;
}

.text-down__range {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: #222733;
  opacity: 0.4;
}

.not-valid-form {
  border: 1px solid #ff5c00;
  background: rgba(255, 92, 0, 0.1);
}

.text-not-valid__form {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  color: #ff5c00;
  width: 300px;
  height: 16px;
  display: inline-block;
  margin-top: 10px;
}

.radio-buttons-place {
  height: 80px;
}
