<ng-container [ngSwitch]="isShowComponent">
  <ng-container *ngSwitchCase="steps.Event">
    <app-header-event></app-header-event>
    <app-event-form
      [formControl]="eventFormGroup.controls.eventForm"
    ></app-event-form>
    <app-application-button (click)="nextStep()"></app-application-button>
  </ng-container>
  <ng-container *ngSwitchCase="steps.Contact">
    <app-header></app-header>
    <app-contact-form></app-contact-form>
    <app-application-button (click)="nextStep()"></app-application-button>
  </ng-container>
</ng-container>
<app-info-event
  [priceEvent]="10"
  [priceOnePerson]="20"
  [formatEvent]="eventFormGroup.controls.eventForm.value?.event"
  [countPerson]="eventFormGroup.controls.eventForm.value?.countPeoples"
  [dateEvent]="eventFormGroup.controls.eventForm.value?.dateEvent"
>
</app-info-event>
