.mat-vertical-stepper-header-container {
  background-color: #f0f0f0; /* Цвет фона шагов */
}

::ng-deep .mat-stepper-horizontal-line {
  display: none;
}

::ng-deep .mat-horizontal-stepper-header {
  display: flex;
  justify-content: space-between;
  font-family: "Lab Grotesque", sans-serif;
  .mat-step-icon {
    margin-right: 20px !important;
  }
}

::ng-deep .mat-step-icon {
  background: rgb(101, 116, 196) !important;
  color: rgb(255, 255, 255) !important;
  height: 38px !important;
  width: 38px !important;
  border-radius: 50%;
  border: none;
  opacity: 0.5;
  &-selected,
  &-number {
    opacity: 1;
    color: rgb(255, 255, 255) !important;
    background: rgb(63, 81, 181) !important;
  }
}

