@import "fonts";

body {
  background: #f3f5f8;
  font-family: "Lab Grotesque", sans-serif;
}

.page-form__input {
  border-radius: 10px;
  width: 598px;
  height: 14px;
  background: #fff;
  border: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 26px;
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222733;
}

.page-form__input:focus {
  border: 1px solid #545e76;
  outline: none;
  width: 597px;
  height: 13px;
}

.page-form__input::placeholder {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #222733;
}

.continue__component {
  position: absolute;
  margin-top: 350px;
  margin-left: 70px;
  width: 596.8px;
  height: 48px;
}

.button-continue {
  position: absolute;
  width: 224px;
  height: 48px;
  background: #222733;
  border: none;
}

.button-continue__text {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
}

.text-processing-condition {
  display: inline-block;
  height: 48px;
  width: 337.6px;
  margin-left: 260px;
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 190%;
  color: #222733;
  opacity: 0.5;
  &__politic-conditions {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.header {
  width: 431.2px;
  height: 108.8px;
  margin-left: 70px;
  margin-top: 70px;
}

.event__header {
  display: inline-block;
  width: 158.4px;
  height: 38.4px;
}

.text-active__header {
  position: absolute;
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #222733;
  padding-left: 16px;
  padding-top: 11.2px;
  padding-bottom: 11.2px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact__header {
  display: inline-block;
  width: 128px;
  height: 38.4px;
  margin-left: 32px;
}

.text-not-active__header {
  position: absolute;
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #222733;
  opacity: 0.5;
  margin-left: 16px;
  margin-top: 11.2px;
  margin-bottom: 11.2px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.heading__step {
  display: block;
  position: absolute;
  margin-top: 48px;
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 700;
  font-size: 31.2px;
  line-height: 120%;
  color: #222733;
}
